h1 {
  color: black;
  font-weight: bold;
  text-align: center;
}

.wrapper {
  max-width: 1000px;
  position: relative;
  margin:auto;
}

.mySlides {
  width: 100%;
}

.button1 {
  position: absolute;
  top: 50%;
  left: 0
}

.button2 {
  position: absolute;
  top: 50%;
  right: 0;
}

.button1:hover {
  cursor: pointer;
}

.button2:hover {
  cursor: pointer;
}

#btn1 {
  padding: 10px;
  border-radius: 30px;
  background-color: lime;
}

#btn2 {
  padding: 10px;
  border-radius: 30px;
  background-color: lime;
}

img {
  width: auto;
  height: auto;
}
